<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Opciones</th>
    </thead>
    <tbody>
        {{#if proyectos }}
        {{#proyectos}}
        <tr>
            <td>{{ nombre }}</td>
            <td>{{ descripcion }}</td>
            <td class="text-center">
                <a href="/panel/editar/{{ _id }}" class="btn btn-secondary mr-1"><i class="fas fa-edit"></i></a>
                <a href="/panel/eliminar/{{ _id }}" class="btn btn-danger mr-1"><i class="fas fa-trash-alt"></i></a>
                <a href="/panel/detalles/{{ _id }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
            </td>
        </tr>
        {{/proyectos}}
        {{/if}}
    </tbody>
</table>